.compare-page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

/* Media queries for grid-template-columns */
@media all and (max-width: 800px) {
  .compare-page-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
