.menu-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

/* Media queries for grid-template-columns */
@media all and (max-width: 800px) {
  .menu-page {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.new-group-title {
  width: calc(100% - 32px);
  box-sizing: border-box;
  margin-bottom: 16px;

  font-size: 1.5rem;
  font-weight: bold;

  text-align: center;

  border: none;
}

.menu-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}

.menu-title {
  width: calc(100% - 32px);
  box-sizing: border-box;
  margin-top: 16px;

  font-size: 2rem;
  font-weight: bold;

  text-align: center;

  border: none;
}

/* Horizontal flexbox that auto-expands the first child */
.menu-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title-container > *:first-child {
  flex: 1;
}

.menu-compare {
  padding-right: 1rem;
}

@media (max-width: 640px) {
  .menu-page {
    grid-template-columns: 1fr;
  }

  .menu-title-container {
    flex-direction: column;
  }

  .menu-title-container > *:first-child {
    width: 100%;
  }

  .menu-compare {
    padding-right: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
  }
}
