.menu-compare-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  margin: 0.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  gap: 0.5rem;
  transition: transform 0.2s;
  margin-top: 0.5rem;
}

/* Should rotate text to 90 degrees and justify text to bottom */
.legend-title {
  transform: rotate(90deg);
  width: 100%;
  text-align: right;
  justify-content: bottom;
  white-space: nowrap;
}

.legend-titles-mobile {
  display: none;
}

.legend-title-outer {
  width: 32px;
  height: 100px;
}

@media (max-width: 768px) {
  .legend-titles-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    font-size: 0.875rem;
  }

  .legend-title-outer {
    display: none;
  }

  .menu-compare-legend {
    flex-direction: column;
    padding: 0.5rem;
  }
}
