.share-section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px; */

  display: grid;
  /* Grid should have a maximum of 4 columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

/* Media queries for grid-template-columns */
@media all and (max-width: 800px) {
  .share-section {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 640px) {
  .share-section {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
}
